<div class="content">
  <div class="lds-dual-ring" *ngIf="isLoading"></div>
  <div class="chirper" *ngIf="!isLoading">

    <h2 class="titlebar">{{user?.name}}</h2>

    <a id="btnFollow" class="chirp-author" *ngIf="!isFollowed" (click)="followUser()">Follow</a>
    <a id="btnFollow" class="chirp-author" *ngIf="isFollowed" (click)="unfollowUser()">Unfollow</a>

    <div id="userProfileStats" class="user-details">
      <span>{{chirpsCount}} chirps</span> |
      <span>{{following}} following</span> |
      <span>{{followers}} followers</span>
    </div>
  </div>
  <div id="profileChirps" class="chirps" *ngIf="!isLoading">
    <h2 class="titlebar">{{user?.name}}'s chirps</h2>
    <article class="chirp" *ngFor="let c of user?.chirps">
      <div class="titlebar">
        <a routerLink="../feed/{{username}}" class="chirp-author">{{user?.name}}</a>
        <span class="chirp-time">
          <a routerLink="/editChirp/{{c._id}}" *ngIf="authService.isAdmin()">edit </a>
          <a class="pseudolink" (click)="deleteChirp(c._id)" *ngIf="authService.isAdmin()">delete </a> {{c.time}}
        </span>
      </div>
      <p>{{c.content}}</p>
    </article>
    <div class="chirp" *ngIf="!user?.chirps.length">
      <span class="loading">No chirps in database</span>
    </div>
  </div>
</div>
