<div class="content">
  <div class="chirper">
    <h2 class="titlebar">{{bindingModel.author}}</h2>
    <form id="formSubmitChirp" class="chirp-form" #formEditChirp="ngForm" (ngSubmit)="editChirp()">
      <textarea name="text" class="chirp-input" required minlength="5" maxlength="150" [(ngModel)]="bindingModel.text" #text="ngModel"
        value="{{bindingModel.text}}"></textarea>
      <input class="chirp-submit" id="btnSubmitChirp" [disabled]="formEditChirp.form.invalid" value="Edit" type="submit">
    </form>

    <div style="color:red" [hidden]="text.valid || text.pristine">
      Chirp text must be must be between 5 and 150 symbols.
    </div>
  </div>
</div>
