<div class="content">
  <div id="chirps" class="chirps">
    <h2 class="titlebar">Chirps from all followed users</h2>
    <article class="chirp" *ngFor="let c of chirps">
      <div class="titlebar">
        <a routerLink="{{c.author}}" class="chirp-author">{{c.author}}</a>
        <span class="chirp-time">
          <a routerLink="/editChirp/{{c.id}}" *ngIf="authService.isAdmin()">edit </a>
          <a class="pseudolink" (click)="deleteChirp(c.id)" *ngIf="authService.isAdmin()">delete </a> {{c.time}}
        </span>
      </div>
      <p>{{c.content}}</p>
    </article>
  </div>
</div>